*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
    display: flex;
    flex-wrap: nowrap;
}

header{
    background-color: #EAC926;
    
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
    display: flex;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.form input:invalid{
    background-color: pink;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 15px 10px;
    width: 40px;
}

.price{
    font-size: 18px;
    flex: 30%;
}
.discount{
    flex: 30%;
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin:0 auto;
}


main section article{
    background-color: #fff;
    margin: 10px 0px;

}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}
/*
.main-article{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
*/

main section article .main-article{
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}


.main-article i{
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
}

.description{
    display: none;
}

div.boton-footer{
    text-align: center;
}
div.boton-footer i{
    color: #0044AA;
    font-size: 20px;
    
    margin: 10px 0px ;
    padding: 15px 2px;
    
}

footer div.titulo{
    font-weight: bold;
    text-align: center;
}
footer div.texto{
    text-align: center;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }
/*Cel*/
@media (max-width:320px)  {
   
        main section article{
            width: 73%;
        }
       nav{
        display: none;
       }
    }
    /*Table*/
@media (min-width:361px) {

    .description{
        display: block;
    }
    main section article{
        box-shadow: 0 0 10px rgb(100,100,100);
    }
    
    header div.sub-titulos1{
        flex-wrap: nowrap;
        padding: 10px;
        margin-right: 20px;
        justify-content: flex-start ;
       
    }

    header div.sub-titulos2{
        flex-wrap: nowrap;
        padding: 10px;
        margin-left: 20px;
        justify-content: flex-end;
       
    }
   .burger-menu{
        display: none;
    }
    main section article{
        width: 45%;
     }
     main section .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

}
/*Desktop*/
@media (min-width:769px) {
    .description{
        display: block;
    }
    main section article{
        box-shadow: 0 0 10px rgb(100,100,100);
    }
    
    header div.sub-titulos1{
        flex-wrap: nowrap;
        padding: 10px;
        margin-right: 20px;
        justify-content: flex-start ;
    }

    header div.sub-titulos2{
        flex-wrap: nowrap;
        padding: 10px;
        margin-left: 20px;
        justify-content: flex-end;
    }
    .burger-menu{
        display: none;
    }
    main section article{
        width: 22%;
     }
}